@inherits LayoutComponentBase;

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="container-fluid auth-page">
    <div class="row">
        <div class="col-lg-6 add-section">
        </div>
        <div class="col-lg-6 auth-pages-section">
            <div class="auth-section">
                <div class="logo-section">
                    <h2 class="logo text-croissant"><b><i>B</i>log</b>Star</h2>
                    <p class="text-muted">Platform for all techies to write blog on different topics like dotnet, django or more specific ones like SOLID Principles.</p>
                </div>
                <div class="render-section">
                    @Body
                </div>
                <div class="footer-section">
                    <p class="text-muted">
                        &copy;2023 All Rights Reserved. BlogStar Pvt. Ltd.
                        <br>Cookie Preferences, Privacy, and Terms.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

}