.profile-page
{
    height: 100%;
    padding: 0px !important;
    display: flex;
    flex-direction: column;
}

.profile-page .cover-page{
    width: 100%;
    min-height: 500px;
    background: url("images/profile/cover2.jpg") no-repeat;
    background-size: cover;
    position: relative;
}

.profile-page .cover-page .profile-img{
    height: 150px !important;
    width: 150px !important;
    border-radius: 50% !important;
    position: absolute;
    bottom: -75px;
    left: 200px;
}

.profile-page .cover-page .cover-page-footer{
    position: absolute;
    width: 100%;
    padding: 0 20px;
    bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 600px) {
    .profile-page .cover-page .profile-img {
        left: 20px;
    }
}

.page-body{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.page-body .page-header{
    height: 100px;
    border-bottom: 1px solid #d1d1d1;

}

.page-body .page-header .nav-area{
    height: 100%;
    display: flex;
    align-items: flex-end;
    margin-left: 400px;
}

.page-body .page-header .nav-area .nav .nav-item .nav-link{
    font-size: 1.1rem !important;
    color: #000 !important;
}

.profile-page .page-body .page-header .nav-area .nav .nav-item .tab-link {
    font-size: 1.2rem !important;
    color: #000;
}